# www and android
/www

# Angular specific
/dist/
/out-tsc/
/tmp/
/coverage/
/e2e/test-output/
/.angular/
.angular/

# Node modules and dependency files
/node_modules/
#/package-lock.json no tenerlo en el repo rompe el workflow (npm ci)
/yarn.lock

# Environment files
/.env

# Angular CLI and build artefacts
/.angular-cli.json
/.ng/

# TypeScript cache
*.tsbuildinfo

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

#Archivos de sistema locales de Android
local.properties
.gradle/

# CUESTIONES ESPECÍFICAS DE ANDROID
# /android ... hay permisos específicos en AndroidManifest.xml que hacen que no se pueda ignorar toda la carpeta
# local.properties contiene rutas locales (rutas del SDK) que no deben compartirse
android/local.properties
# .gradle contiene cachés y archivos temporales de Gradle que no deben compartirse
android/.gradle/
# build contiene los archivos compilados .class y .dex que no deben compartirse
android/build/
# app/build contiene los archivos compilados específicos de la aplicación que no deben compartirse
android/app/build/
android/generated/
# Ficheros generados por Android Studio
android/.idea/
android/*.iml
android/app/*.iml
android/.DS_Store

# El contenido web compilado que se inyecta en la aplicación nativa (se genera con npx cap sync y ya lo hará el workflow)
android/app/src/main/assets/public/

#Keystores
*.jks
*.keystore
keystore_base64.txt
