<ion-content [fullscreen]="true">
   <!-- componente personalizado para la cabecera-->
  <app-top-bar pagina="resetPassword"></app-top-bar>
  <div class="contenido">
    <ion-img src="../assets/logo/Logo_Circulo.png"></ion-img>
    <h2>Crear Contraseña</h2>
    <!-- Formulario para pedir correo electrónico-->
    <form class="formulario" [formGroup]="formularioResetPass">

        <ion-input fill="solid" type="text" required placeholder="Código Enviado" [(ngModel)]="codigo" name="codigo" formControlName="codigo"></ion-input>
        <ion-label *ngIf="formularioResetPass.get('codigo')?.invalid && formularioResetPass.get('codigo')?.touched" color="danger">Introduce un código válido</ion-label>

        <ion-input fill="solid" type="password" required  placeholder="Nueva Contraseña" [(ngModel)]="password" name="password" formControlName="password"></ion-input>
        <div *ngIf="formularioResetPass.get('password')?.invalid && formularioResetPass.get('password')?.touched">
          <ion-label class="ion-padding" *ngFor="let literal of this.literalesPassword" color="danger">
            {{literal}}
          </ion-label>
        </div>

        <ion-input fill="solid" type="password" required  placeholder="Repita Nueva Contraseña" [(ngModel)]="password2" name="password2" formControlName="password2"></ion-input>
        <div *ngIf="formularioResetPass.get('password2')?.invalid && formularioResetPass.get('password2')?.touched">
          <ion-label class="ion-padding" *ngFor="let literal of this.literalesPassword" color="danger">
            {{literal}}
          </ion-label>
        </div>
    </form>

    <!-- Botón Enviar-->
    <ion-button expand="block" [disabled]="formularioResetPass.invalid" (click)="onSubmit()">
      Enviar
    </ion-button>
  </div>
</ion-content>
