<ion-content [fullscreen]="true">
   <!-- componente personalizado para la cabecera-->
   <app-top-bar pagina="forgotPassword"></app-top-bar>
  <div class="contenido">
    <ion-img src="../assets/logo/Logo_Circulo.png"></ion-img>
    <h2>¿Olvidaste tu contraseña?</h2>
    <!-- Formulario para pedir correo electrónico -->
    <form class="formulario" [formGroup]="formularioForgotPass">
        <ion-input fill="solid" type="text" required placeholder="Correo electrónico" [(ngModel)]="email" name="email" formControlName="email" (keyup.enter)="onSubmit()"></ion-input>
        <ion-label *ngIf="formularioForgotPass.get('email')?.invalid && formularioForgotPass.get('email')?.touched" color="danger" class="error-tooltip-label">Introduce un email válido</ion-label>
    </form>
    <!-- Botón Enviar-->
    <ion-button expand="block" [disabled]="formularioForgotPass.invalid" (click)="onSubmit()">
      Enviar
    </ion-button>
  </div>
</ion-content>
