<ion-content [fullscreen]="true">
  <!-- componente personalizado para la cabecera-->
  <app-top-bar></app-top-bar>

  <div class="contenido">

    <h2>Nuevo objeto perdido</h2>

    <form class="formulario" [formGroup]="formularioObjeto">

      <!-- Mapa -->
      <div>
        <div class="map-test-container">
          <aurkitu-map
            useCase="SEARCH"
            [initialRadius]="500"
            (locationChange)="handleSearchChange($event)">
          </aurkitu-map>
        </div>

        @if (resultadoBusqueda) {
          <div class="debug-box">
            Lat: {{ resultadoBusqueda.lat | number:'1.4-4' }} <br>
            Lng: {{ resultadoBusqueda.lng | number:'1.4-4' }} <br>
            Radio: {{ resultadoBusqueda.radius }}m
          </div>
        }
      </div>


      <!-- Tipo de objeto (accordion) -->
      <ion-accordion-group #tipoAccordion>
        <ion-accordion value="tipoObjeto">
          <ion-item slot="header">
            <ion-label>{{ tipoSeleccionadoTexto }}</ion-label>
          </ion-item>

          <div slot="content">
            <ion-list>
              <ion-item
                button
                *ngFor="let tipo of tiposObjeto"
                (click)="seleccionarTipo(tipo)">
                {{ tipo.descripcion }}
              </ion-item>
            </ion-list>
          </div>
        </ion-accordion>
      </ion-accordion-group>

      <!-- Descripción -->
      <ion-textarea
        fill="solid"
        placeholder="Descripción"
        formControlName="descripcion">
      </ion-textarea>

      <!-- Marca -->
      <ion-input
        fill="solid"
        placeholder="Marca"
        formControlName="marca">
      </ion-input>

      <!-- Número de serie -->
      <ion-input
        fill="solid"
        placeholder="Número de serie"
        formControlName="serie">
      </ion-input>

      <!-- Color (accordion) -->
      <ion-accordion-group #colorAccordion>
        <ion-accordion value="colorObjeto">
          <ion-item slot="header">
            <ion-label>{{ colorSeleccionadoTexto }}</ion-label>
          </ion-item>

          <div slot="content">
            <ion-list>
              <ion-item
                button
                *ngFor="let color of coloresObjeto"
                (click)="seleccionarColor(color)">
                {{ color.descripcion }}
              </ion-item>
            </ion-list>
          </div>
        </ion-accordion>
      </ion-accordion-group>

      <!-- Fecha -->
      <ion-item>
        <ion-input type="date" formControlName="fecha"></ion-input>
      </ion-item>

      <!-- Documentos -->
      <!--<ion-text color="primary">
        <h3>1. Foto del objeto</h3>
      </ion-text>-->
      <!-- Foto -->
      <aurkitu-file-selector
        type="image"
        label="Foto de la galería"
        (fileSelected)="onPhotoChange($event)"> </aurkitu-file-selector>

      <!-- Factura -->
      <!-- 
      <ion-text color="primary">
        <h3>2. Prueba documental</h3>
        name="image-outline"
        name="document-text-outline"
      </ion-text>-->
      <aurkitu-file-selector
        type="document"
        label="Adjuntar factura (PDF)"
        (fileSelected)="onDocumentChange($event)"> </aurkitu-file-selector>

      <div class="ion-margin-top">

        @if (selectedPhoto) {
          <p class="file-info">
            <ion-icon  color="primary"></ion-icon>
            <strong>Foto:</strong> {{ selectedPhoto.name }}
            <small>({{ (selectedPhoto.size/1024).toFixed(1) }} KB)</small>
          </p>
        }

        @if (selectedDocument) {
          <p class="file-info">
            <ion-icon  color="secondary"></ion-icon>
            <strong>Doc:</strong> {{ selectedDocument.name }}
            <small>({{ (selectedDocument.size/1024).toFixed(1) }} KB)</small>
          </p>
        }

        <!--
        <ion-button expand="block" (click)="enviarDatos()" >

          @if (isSubmitting) {
            <ion-spinner name="crescent"></ion-spinner>
          }
          @else {
            <span>Enviar al Backend</span>
          }

        </ion-button>
        -->

      </div>
      
      <!-- Botón -->
      <ion-button
        expand="block"
        [disabled]="formularioObjeto.invalid"
        (click)="onSubmit()">
        Guardar objeto
      </ion-button>

    </form>

  </div>
</ion-content>