/* Fondo general */
ion-content {
  --background: #F2DEC6; /* mismo fondo que login/menú */
}

/* Contenido */
.contenido {
  padding: 20px;
  max-width: 500px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

ion-content {
  // texto con buen contraste.
  --color: #333;
}

/* Título */
h2 {
  text-align: center;
  font-weight: 600;
  margin-bottom: 20px;
  color: #333;
}

/* Formulario */
.formulario {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

/* Inputs, textarea y datetime */
ion-input,
ion-textarea{
  --background: #f2f2f2;
  --border-radius: 4px;
  --padding-start: 12px;
  --padding-end: 12px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
  border-radius: 4px;
}

/* Accordion dropdowns (header + contenido) */
ion-accordion-group ion-accordion {
  --background: #f2f2f2; /* fondo del header */
  border-radius: 4px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
}

ion-accordion-group ion-accordion ion-item {
  --background: #f2f2f2; /* fondo del header */
  border-radius: 4px;
}

ion-accordion-group ion-accordion div[slot="content"] {
  background: #f2f2f2; /* fondo del contenido desplegable */
  border-radius: 4px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
  padding: 4px 0;
}

/* Quitar líneas de ion-item */
ion-item::part(native) {
  border: none;
}

/* Mantener bordes redondeados al presionar */
ion-item:active {
  border-radius: 4px;
}


/* Botón principal */
ion-button {
  --background: #f47c48; /* naranja corporativo */
  --border-radius: 12px;
  --box-shadow: 0 4px 10px rgba(244, 124, 72, 0.4);
  font-weight: 600;
  margin-top: 10px;
}

/* Botón deshabilitado */
ion-button[disabled] {
  --background: #f2b59a;
  opacity: 0.7;
}

/* Contenedor Mapa */
.map-test-container {
  width: 100%;
  height: 400px; // Altura generosa para probar bien

  background-color: #fff; // Marco blanco limpio alrededor del mapa
  border: 4px solid #ffffff; // Marco fotográfico

  border-radius: 24px; // Bordes muy redondeados
  overflow: hidden;    // Para que el mapa no se salga de las curvas

  // Sombra suave para que flote sobre el fondo crema
  box-shadow: 0 10px 25px rgba(189, 158, 130, 0.3);

  margin-bottom: 15px;
  position: relative;
}

aurkitu-map {
  display: block;
  height: 100%;
  width: 100%;
}

/* Datos Mapa */
.debug-box {
  background: rgba(255, 255, 255, 0.5); // Blanco semitransparente
  padding: 15px;
  border-radius: 12px;

  font-family: 'Courier New', Courier, monospace; // Fuente tipo código
  font-size: 13px;
  color: #444;

  // Borde lateral naranja para indicar que es info técnica
  border-left: 5px solid var(--aurkitu-naranja);

  margin-bottom: 10px;
}
