<ion-content [fullscreen]="true">
  <!-- componente personalizado para la cabecera-->
  <app-top-bar></app-top-bar>

  <div class="contenido">

    <h2>Nuevo objeto perdido</h2>

    <form class="formulario" [formGroup]="formularioObjeto">

      <!-- Mapa -->
      <div id="map"></div>

      <!-- Radio -->
      <ion-input
        fill="solid"
        type="number"
        placeholder="Radio (metros)"
        formControlName="radio">
      </ion-input>

      <!-- Tipo de objeto (accordion) -->
      <!-- Tipo de objeto (accordion) -->
      <ion-accordion-group #tipoAccordion>
        <ion-accordion value="tipoObjeto">
          <ion-item slot="header">
            <ion-label>{{ tipoSeleccionadoTexto }}</ion-label>
          </ion-item>

          <div slot="content">
            <ion-list>
              <ion-item
                button
                *ngFor="let tipo of tiposObjeto"
                (click)="seleccionarTipo(tipo)">
                {{ tipo.descripcion }}
              </ion-item>
            </ion-list>
          </div>
        </ion-accordion>
      </ion-accordion-group>

      <!-- Descripción -->
      <ion-textarea
        fill="solid"
        placeholder="Descripción"
        formControlName="descripcion">
      </ion-textarea>

      <!-- Marca -->
      <ion-input
        fill="solid"
        placeholder="Marca"
        formControlName="marca">
      </ion-input>

      <!-- Número de serie -->
      <ion-input
        fill="solid"
        placeholder="Número de serie"
        formControlName="numSerie">
      </ion-input>

      <!-- Color (accordion) -->
      <ion-accordion-group #colorAccordion>
        <ion-accordion value="colorObjeto">
          <ion-item slot="header">
            <ion-label>{{ colorSeleccionadoTexto }}</ion-label>
          </ion-item>

          <div slot="content">
            <ion-list>
              <ion-item
                button
                *ngFor="let color of coloresObjeto"
                (click)="seleccionarColor(color)">
                {{ color.descripcion }}
              </ion-item>
            </ion-list>
          </div>
        </ion-accordion>
      </ion-accordion-group>

      <!-- Fecha -->
       <!--
      <ion-datetime
        presentation="date-time"
        formControlName="fechaPerdida">
      </ion-datetime>
-->
      <ion-item>
        <!--<ion-label position="floating">Fecha</ion-label>-->
        <ion-input type="date" formControlName="fechaPerdida"></ion-input>
      </ion-item>


      <!-- Botón -->
      <ion-button
        expand="block"
        [disabled]="formularioObjeto.invalid"
        (click)="onSubmit()">
        Guardar objeto
      </ion-button>

    </form>

  </div>
</ion-content>
