ion-content {
  --background: #F2DEC6;
  --color: #333;
}

.contenido {
  padding: 20px;
  max-width: 500px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.filtrosBusqueda {
  margin-bottom: 10px;
}

.factura {
  margin-bottom: 20px;
}

h2 {
  text-align: center;
  font-weight: 600;
  color: #333;
}

h2 {
  font-weight: 600;
}

/* ===== FORMULARIO ===== */
.formulario-busqueda {
  background: #f7e8d7;
  padding: 16px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  display: flex;
  flex-direction: column;
  gap: 12px;
}

ion-input {
  --background: #fff;
  --border-radius: 10px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

/* ===== LISTA RESULTADOS ===== */
.lista-objetos ion-accordion {
  --background: #ffffff;
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.15);
  margin-bottom: 10px;
  overflow: hidden;
}

/* Cabecera del accordion */
.accordion-header {
  --background: #ffffff;
  font-weight: 600;
  border-radius: 12px 12px 0 0;
}

/* Contenido del accordion */
.accordion-content {
  background: #fff;
  padding: 16px;
  font-size: 15px;
  line-height: 1.4;
  display: flex;
  flex-direction: column;
  gap: 8px;
  border-top: 1px solid rgba(0,0,0,0.1);
}

.accordion-content ion-button {
  margin-top: 10px;
  --background: #f47c48;
  --border-radius: 10px;
}

/* Sin resultados */
.sin-resultados {
  text-align: center;
  font-style: italic;
  margin-top: 20px;
  color: #666;
}

.lista-objetos ion-accordion {
  --background: #ffffff;
  border-radius: 14px;
  margin-bottom: 14px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  overflow: hidden;
}

ion-item[slot="header"] {
  --background: #f2f2f2;
}

ion-avatar img {
  object-fit: cover;
  border-radius: 50%;
}

.resultado-detalle {
  padding-left: 18px;
}

/* Contenedor Mapa */
.map-test-container {
  width: 100%;
  height: 400px; // Altura generosa para probar bien

  background-color: #fff; // Marco blanco limpio alrededor del mapa
  border: 4px solid #ffffff; // Marco fotográfico

  border-radius: 24px; // Bordes muy redondeados
  overflow: hidden;    // Para que el mapa no se salga de las curvas

  // Sombra suave para que flote sobre el fondo crema
  box-shadow: 0 10px 25px rgba(189, 158, 130, 0.3);

  margin-bottom: 15px;
  position: relative;
}

aurkitu-map {
  display: block;
  height: 100%;
  width: 100%;
}

/* Datos Mapa */
.debug-box {
  background: rgba(255, 255, 255, 0.5); // Blanco semitransparente
  padding: 15px;
  border-radius: 12px;

  font-family: 'Courier New', Courier, monospace; // Fuente tipo código
  font-size: 13px;
  color: #444;

  // Borde lateral naranja para indicar que es info técnica
  border-left: 5px solid var(--aurkitu-naranja);

  margin-bottom: 10px;
}

