/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

/* Estilos de leaflet para el mapa (escoge la versión según el package.json*/
@import "leaflet/dist/leaflet.css";

/**
 * Ionic Dark Mode
 * -----------------------------------------------------
 * For more info, please see:
 * https://ionicframework.com/docs/theming/dark-mode
 */

/* @import "@ionic/angular/css/palettes/dark.always.css"; */
/* @import "@ionic/angular/css/palettes/dark.class.css"; */
@import '@ionic/angular/css/palettes/dark.system.css';

:root {
  /* Definimos el color aquí para que sea accesible también por JS (leaflet) */
  --aurkitu-naranja: #EC7445;
  --aurkitu-fondo: #F2DEC6;
}

ion-content {
  --background: var(--aurkitu-fondo);
}

ion-button {
  --background: var(--aurkitu-naranja);
    --color: #ffffff;
    --font-weight: bold;
}


.error-tooltip-label {
  
  display: block !important;
  text-align: left !important;
  margin: 10px 0 10px 0 !important;

  /* ESTILO VISUAL DE BOCADILLO */
  background: var(--ion-color-danger) !important;
  color: white !important;
  padding: 8px 12px !important;
  border-radius: 6px !important;
  font-size: 0.875rem !important;
  z-index: 1000 !important;
  box-shadow: 0 2px 5px rgba(0,0,0,0.2) !important;
  white-space: nowrap !important;
  position: relative !important;
  
}

/* Flecha del tooltip */
.error-tooltip-label::before {
  content: '' !important;
  position: absolute !important;
  top: -6px !important;
  width: 0 !important;
  height: 0 !important;
  border-left: 6px solid transparent !important;
  border-right: 6px solid transparent !important;
  border-bottom: 6px solid var(--ion-color-danger) !important;
}

.multiline-tooltip {
  white-space: normal !important;  
  max-width: 280px !important;     
  line-height: 1.4 !important;     
  text-align: center !important;   
}

.notificacionToast{
  --border-radius: 8px;        /* forma cuadrada */
  --min-width: 220px;
  --max-width: 280px;
  --background: #EC7445;       /* color fondo */
  --color: #ffffff;            /* color texto */
  text-align: center;
}


.mayusculas {
  text-transform: uppercase;
}